<!-- Logo, busqueda y login -->

<div id="header" class="bg-ligth inline-block">
    <!-- search -->
    <div class="">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          </form>
    </div>

    <!-- logo -->

    <div class="logo rounded-circle">
        <a href="/">
            <img src="/images/logo/cololaCeramica.png" alt="cololaCeramica">
        </a>
    </div>

    <!-- login, register, cart -->

    <div class="">
        <div class="">
            <a href="" class="bg-light">INICIAR SESION</a>
        </div>
        <div class="">
            <div class="">
            <a href="" class="bg-light">CREAR CUENTA</a>
        </div>
    </div>
    
    
    
</div>

<!-- menu -->
<div class="bg-dark">
    MENU
</div>