<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- style Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- style -->
    <link rel="stylesheet" href="style/index.css">
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <!-- scripts Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <title><%= title %></title>
</head>

<body>
    <header>
        <div class="container-header">
            <!-- user option -->
            <div class="header-user">
                <a href="/users/login" class="header-user-btn" id="btn-login" hidden>Iniciar sesión</a>
                <a href="/users/register" class="header-user-btn" id="btn-signup" hidden>Registrarse</a>
                <a href="/users/login" class="fas fa-user"></a>
            </div>
            <!-- Logo -->
            <div class="header-logo-div">
                <a href="#">
                    <img class="header-logo" src="images/logo/cololaCeramica.png" alt="">
                </a>
            </div>
            <!-- cart -->
            <div>
                <i class="fas fa-heart"></i>
                <span>0</span>
                <i class="fas fa-shopping-cart"></i>
                <span>0</span>
            </div>
        </div>
        <!-- Navigation -->
        <div class="nav d-flex justify-content-center">
            <nav class="navbar navbar-expand-sm navbar-light ">
                <button class="navbar-toggler navbar-toggler-rigth" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav">
                            <a class="nav-item nav-link" href="#">Inicio</a>
                        
                            <a class="nav-item nav-link" href="#">Productos</a>
                        
                            <a class="nav-item nav-link" href="#">Talleres</a>
                        
                            <a class="nav-item nav-link" href="#">Nosotros</a>
                        
                            <a class="nav-item nav-link" href="#">Contacto</a>
                        
                            <a class="nav-item nav-link" href="#">Mayoristas</a>
                        
                    </div>
                </div>
            </nav>
        </div>
        <div class="search-bar">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="search">
        </div>
    </header>
    <!-- Outandings -->
    <div class="container-css">
        <div class="card-css">
            <img src="images/img1.jpg" alt="">
            <h5>Producto</h5>
            <h6>Categoria</h6>
            <p>$000.00</p>
        </div>
        <div class="card-css">
            <img src="images/img1.jpg" alt="">
            <h5>Producto</h5>
            <h6>Categoria</h6>
            <p>$000.00</p>
        </div>
        <div class="card-css">
            <img src="images/img1.jpg" alt="">
            <h5>Producto</h5>
            <h6>Categoria</h6>
            <p>$000.00</p>
        </div>
        <div class="card-css">
            <img src="images/img1.jpg" alt="">
            <h5>Producto</h5>
            <h6>Categoria</h6>
            <p>$000.00</p>
        </div>
    </div>
    <div class="abajo"></div>
    <!-- <div>
        <div class="card" style="width: 13rem;">
            <img src="https://placekitten.com/140/140" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nombre</h5>
              <p class="card-text">Categoria</p>
              <p class="card-text">$000.00</p>
            </div>
          </div>
    </div> -->
</body>

</html>