<!DOCTYPE html>
<html lang="en">

<%- include 'partials/head' %> 

<body>
    <%- include 'partials/header' %> 
    <!-- Outandings -->
    <div style="border: 1px solid green" class="container-css">
            <div class="card-css">
                <img src="images/img1.jpeg" alt="">
                <h5>Producto</h5>
                <h6>Categoria</h6>
                <p>$000.00</p>
            </div>
            <div class="card-css">
                <img src="images/img2.jpeg" alt="">
                <h5>Producto</h5>
                <h6>Categoria</h6>
                <p>$000.00</p>
            </div>
            <div class="card-css">
                <img src="images/img3.jpeg" alt="">
                <h5>Producto</h5>
                <h6>Categoria</h6>
                <p>$000.00</p>
            </div>
            <div class="card-css">
                <img src="images/img4.jpeg" alt="">
                <h5>Producto</h5>
                <h6>Categoria</h6>
                <p>$000.00</p>
            </div>
            <div class="card-css">
                <img src="images/img4.jpeg" alt="">
                <h5>Producto</h5>
                <h6>Categoria</h6>
                <p>$000.00</p>
            </div>
    </div>
    <div class="abajo"></div>
    <!-- <div>
        <div class="card" style="width: 13rem;">
            <img src="https://placekitten.com/140/140" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nombre</h5>
              <p class="card-text">Categoria</p>
              <p class="card-text">$000.00</p>
            </div>
          </div>
    </div> -->
</body>

</html>